﻿@model WebUI.Models.LogOnViewModel

@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Вход</h1>
<p>Введите чтобы войти: </p>
@using(Html.BeginForm()){
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <img alt="Captcha Image" src="@Url.Action("Index","CaptchaImage")"/>
    <p><input type="submit" value="Войти" /></p>
}
