﻿@model WebUI.Models.PersonEditModel

@{
    ViewBag.Title = "Edit";
}
@Html.ActionLink("Вернуться к списку пользователей", "List")
<h2>Редактировать рользователя</h2>
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)  
    @Html.EditorFor(x => x.Person)
foreach (var role in Model.Roles)
{
    <input @if (role.Value){@Html.Raw("checked");}  name="role" type="checkbox" value="@role.Key" />
    @role.Name
}
    <input type="submit" value="Сохранить"/>
}
   