﻿@model Domain.Entities.Message

@{
    ViewBag.Title = "WatchMessage";
}
@Html.ActionLink("К списку писем", "List")<br/>
<h2>WatchMessage</h2>
от: @Model.From.SecondName
кому: @Model.To.SecondName
Заголовок: @Model.Tittle
Содержание: @Model.Text
