﻿@{
    ViewBag.Title = "Homepage";
}
<h2>Здраствуйте,<br/> это главная страница менеджера задач<br/></h2>
<b><h1>@Html.ActionLink("Войдите", "LogOn", "Account") </h1>или<h1> @Html.ActionLink("Зарегистрируйтесь", "Registration", "Account")</h1></b>
<h1>Логин:andmin@gmail.com Пароль:admin для супер пользователя</h1>

