﻿@model IEnumerable<Domain.Entities.Comment>
@{
    ViewBag.Title = "commentPartial";
}

@foreach (var c in Model)
    {
        <hr/>
         @c.Text<br/>
         @c.From.FirstName<br/>
         @c.When<br/>
    }