﻿@model WebUI.Models.TaskEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Вернуться к списку задач", "List")
<h2>Создать новое задание</h2>
    @using (Html.BeginForm("Edit", "Task",FormMethod.Post)){
    @Html.ValidationSummary()    
    <h3>Кому:</h3>
    @Html.DropDownListFor(x => x.ToId, Model.PersonLists)
    @Html.EditorFor(x => x.Task)
    <h3>список дел</h3>
    <div id="task" style="color: Black;">

    </div>
        <div id="parentId">
  <div>
  @Html.TextBoxFor(x => x.mas, "name[1]")
    <a style="color:green;" onclick="return addField()" href="#">[+]</a>
  </div>
</div>
    <input type="submit" value="Дать задание"/>   
    }

<script type="text/javascript">
    var countOfFields = 1; // Текущее число полей
    var curFieldNameId = 1; // Уникальное значение для атрибута name
    var maxFieldLimit = 25; // Максимальное число возможных полей
    function deleteField(a) {
        if (countOfFields > 1) {
            // Получаем доступ к ДИВу, содержащему поле
            var contDiv = a.parentNode;
            // Удаляем этот ДИВ из DOM-дерева
            contDiv.parentNode.removeChild(contDiv);
            // Уменьшаем значение текущего числа полей
            countOfFields--;
        }
        // Возвращаем false, чтобы не было перехода по сслыке
        return false;
    }
    function addField() {
        // Проверяем, не достигло ли число полей максимума
        if (countOfFields >= maxFieldLimit) {
            alert("Число полей достигло своего максимума = " + maxFieldLimit);
            return false;
        }
        // Увеличиваем текущее значение числа полей
        countOfFields++;
        // Увеличиваем ID
        curFieldNameId++;
        // Создаем элемент ДИВ
        var div = document.createElement("div");
        // Добавляем HTML-контент с пом. свойства innerHTML
        //name[" + curFieldNameId + "]
        div.innerHTML = "<input id=\"mas\" name=\"mas\" type=\"text\" style=\"width:150px;\" /><a style=\"color:green;\" onclick=\"return addField()\" href=\"#\">[+]</a>";
        // Добавляем новый узел в конец списка полей
        document.getElementById("parentId").appendChild(div);
        // Возвращаем false, чтобы не было перехода по сслыке
        return false;
    }
</script>